<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tawfiq AI is the world’s first halal AI assistant that helps Muslims learn, practice, and live Islam in the digital age. Combining Quran, Hadith, dua, prayer times, and modern AI tools – built by Muslims for Muslims.">
    <title>About</title>
</head>
<body>
    <h1>About This Application</h1>
    <p>This is an application for Islamic Knowledge...</p>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
